<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Departamento</title>
    <link rel="shortcut icon" href="../asset/icon/map.ico" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
    <script src='../js/departamento.js'></script>

    <!-- Librerias -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
    
    <!-- ajax jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 3%;">
        <div id="inputData">
            <form>
                <fieldset>
                    <legend><h1>Departamento</h1></legend>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                            <input type="hidden" name="id" id="id" value="">
                            <input type="text" class="form-control" name="nombre" id="nombre" value=""
                                placeholder="Ingresar nombre">
                        </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Código</label>
                            <input type="text" class="form-control" name="codigo" id="codigo" value=""
                                placeholder="Ingresar código">
                        </div>

                    <div class="form-group row">

                        <label class="col-sm-2 col-form-label">País</label>
                            </br>
                            <select class="form-select" id="pais">
                                <option selected>--Seleccione--</option>
                            </select>
                        </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                            </br>
                            <select class="form-select" id="estado">
                                <option selected>--Seleccione--</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                </fieldset>
            </form>
        </div>
        <div id="buttonData">
            <br>
            <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
        </div>
        <div id="outputData">           
        </br>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark text-center" >
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Código</th>
                        <th>País</th>
                        <th>Estado</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="resultData">
                    <!-- Aquí llegan los datos de la bd -->                    
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script>
   loadData();
   selectPais();
</script>